# --- Sistema Operativo ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDEs y Editores Generales ---
.vscode/
*.code-workspace
.idea/

# --- Logs y Temporales ---
*.log
temp/

node_modules/
dist/
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*